@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: #9ccef4;
  transition: background-color 1s ease-in;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */
.app__header {
  background-color: #759eda;
  display: flex;
  gap: 15px;
  padding: 20px;
}

.app__main {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input {
  color: white;
  background-color: #759eda;
  font-size: large;
  width: 400px;
  border: none;
  border-bottom: 1px solid transparent;
}

input::placeholder {
  color: white;
  font-family: Raleway;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #5879c7;
}

button {
  padding: 15px;
  color: #0c1055;
  background-color: #5879c7;
  border: none;
  cursor: pointer;
}

/* Current weather */
.general_weather {
  background-color: #9ccef4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general_weather > img {
  width: 14em;
}

p {
  padding: 10px;
  font-family: Raleway;
}

span {
  padding: 10px;
}

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 30px;
}

.current_weather img {
  width: 300px;
  height: 200px;
}

.current_weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 20px 0;
}

.temperature {
  font-size: 20px;
}

.weather_changes {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin-top: 50px;
  width: 100%;
}

article span {
  display: flex;
  justify-content: center;
}

#error-message {
  display: none;
}

@media screen and (max-width: 992px) {
  .weather_changes {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  button {
    margin: 10px;
  }

}
